/* Menu */
:root {
  --menu-bg: #1d1d1f;
  --menu-color: #fff;
}

.header {
  background-color: var(--menu-bg);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  padding: 10px 15px;

}

.header__content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(./assets/TransparentLogo.png);
  background-position: center;
  background-size: 320px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header__quick {
  display: flex;
  align-items: center;
}

.header__quick a {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid white;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-out;
}

.header__quick a:hover {
  background: rgba(115, 198, 76, 0.621);
  transform: scale(1.07);
}


.header__menu {
  padding: 0;
  margin: 0;
  line-height: 3;
}

.header__menu li {
  display: inline-block;
  list-style: none;
  opacity: 1;
  transition: 0.3s ease-out;
}

.header__menu li a {
  display: block;
  padding: 16px;
  font-size: 18px;
  color: #fff;
}


.header__menu li a:hover {
  color: rgba(114, 198, 76, 255);
}

@media (max-width: 768px) {
  .header__menu {
    position: absolute;
    top: 60px;
    left: 0;
    background-color: var(--menu-bg);
    width: 100%;
    height: 100vh;
    height: 0vh;
    overflow: hidden;
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

  .header__menu li {
    width: 100%;
    border-bottom: 1px solid #444
  }

  .menu-open .header__menu {
    height: 100vh;
    padding: 5%;
    margin-top: 40px;
  }

  .icon-hamburger {
    height: 50px;
    width: 40px;
    margin-left: 20px;
    padding-top: 5px;
  }

  .icon-hamburger span {
    height: 2px;
    width: 30px;
    background: var(--menu-color);
    position: relative;
    display: block;
    margin-top: 11px;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
  }

  .menu-open .icon-hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
  }

  .menu-open .icon-hamburger span:nth-child(2) {
    transform: rotate(-45deg) translateY(-9px);
  }

  .header__quick {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .input-mail{
    padding:15px 70px 15px 70px;
    font-size: 16px;
  }

  .bottone-mail{
    margin-top:20px;
  }

  .grid2{
    padding:0px 15px;
  }


  
}


/* ! Cover */
.cover {
  text-align: center;
  padding: 10px;
  margin: 0px;
  min-height: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center center;
  background-size: cover;
  background-image: url(./assets/heybike-bRgEIUwgEDc-unsplash.jpg);
  z-index: 9998;
  position: relative;
}

.cover * {
  color: #fff
}

.block {
  border: 2px solid white;
  border-radius: 5px;
  height: 430px;
  width: 700px;
  box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.604);
  backdrop-filter: blur(4px);
  transition: 0.3s;
  text-align: center;
  z-index: 9997;
  position: relative;
}

.block h1 {
  text-shadow: 1px 1px #000;
}

.block:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .block {
    width: 100%;
    height: 350px;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: -5px 5px 10px 2px rgba(0, 0, 0, 0.604);
    backdrop-filter: blur(4px);
    transition: 0.3s;
    text-align: center;
    margin: 1 0 1rem 0;
  }

  .block h1 {
    font-size: 55px;
  }

  .call a {
    font-size: 22px;
  }


  

}

@media (max-width: 500px) {
  .block h1 {
    font-size: 35px;
    margin-bottom: 4rem;
    margin-top: 4rem;
  }
}

.call {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}

.call a {
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  border-radius: 6px;
  cursor: pointer;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.4);
  transition: 0.3s ease-in-out;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}


.call a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background: rgba(114, 198, 76, 0.621);
}


.button {
  font-size: 1.3rem;
  text-transform: uppercase;
  background: transparent;
  color: #fff;
  text-decoration: none;
  padding: 14px 25px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
  transition: 0.2s ease-in-out;
}

.button:hover {
  background: #333;
}

.cov-mail{
  min-height:700px;
}

/* ! Grid System */
.grid {
  margin: 0 auto;
  padding: 100px 15px 0px 15px;
  max-width: 1250px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.grid--center {
  justify-content: center;
}

.col {
  flex: 1;
}

[class*='col-'] {
  position: relative;
  padding: 0 15px;
}

.grid .grid [class*='col-'] {
  padding: 0px;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-30 {
  width: 30%;
}

.col-33 {
  width: 33.33%;
}

.col-50 {
  width: 50%;
}

.col-70 {
  width: 70%;
}

.col-80 {
  width: 80%;
}

.col-100 {
  width: 100%;
}

@media (max-width: 991px) {
  .tab-20 {
    width: 20%;
  }

  .tab-25 {
    width: 25%;
  }

  .tab-33 {
    width: 33.33%;
  }

  .tab-50 {
    width: 50%;
  }

  .tab-100 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  [class*='col-'] {
    width: 100%;
  }

  .sma-20 {
    width: 20%;
  }

  .sma-25 {
    width: 25%;
  }

  .sma-33 {
    width: 33.33%;
  }

  .sma-50 {
    width: 50%;
  }

  .sma-100 {
    width: 100%;
  }
}

/* ! Cover */
.cover {
  text-align: center;
  padding: 10px;
  margin: 0px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: center center;
  background-size: cover;
}

.cover * {
  color: #fff;
}


/* ! Helpers  */
.mt-0 {
  margin-top: 0
}

.mt-1 {
  margin-top: 0px
}

.mt-2 {
  margin-top: 20px
}

.mt-3 {
  margin-top: 40px
}

.mt-4 {
  margin-top: 250px
}

.mt-5 {
  margin-top: 400px;
}

.mtp {
  margin-top: 450px;
}

.mb-0 {
  margin-bottom: 0
}

.mb-1 {
  margin-bottom: 10px
}

.mb-2 {
  margin-bottom: 20px
}

.mb-3 {
  margin-bottom: 40px
}

.mb-4 {
  margin-bottom: 100px
}

.p-0 {
  padding: 0
}

.p-1 {
  padding: 10px
}

.p-2 {
  padding: 20px
}

.p-3 {
  padding: 40px
}

.p-4 {
  padding: 100px
}

.pt-1 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 20px;
}

.pt-3 {
  padding-top: 40px;
}

.pt-4 {
  padding-top: 15vh;
}

.pb-1 {
  padding-bottom: 10px;
}

.pb-2 {
  padding-bottom: 20px;
}

.pb-3 {
  padding-bottom: 40px;
}

.pb-4 {
  padding-bottom: 15vh;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.img-res {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  vertical-align: middle;
}

.cov-special {
  min-height: 600px;
  background-image: url(./assets/classe.jfif);
  cursor: pointer;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.cov-special:hover {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('./assets/classe.jfif');
}

.cov-special.animate {
  opacity: 1;
}

/* ! Title System */
h1,
.text-1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

h2,
.text-2 {
  font-size: 2.4rem;
  margin-bottom: 1rem
}

h3,
.text-3 {
  font-size: 1.8rem;
  margin-bottom: 1rem
}

h4,
p,
.text-4 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

a {
  color: coral
}

.under {
  text-decoration: underline;
}

.cov-special:hover .under {
  text-decoration: none;
}



.container-grid {
  /* SCEGLIERE LO SFONDO */
  background-color: #eee;
}

.about {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.about.animate {
  opacity: 1;
}

.about-sub {
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 5ms;
}

.about-sub.animate {
  opacity: 1;
}

.about-par {
  opacity: 0;
  transition: 0.3s ease-in-out;
  transition-delay: 10ms;
}

.about-par.animate {
  opacity: 1;
}

.footer {
  background-color: #000;
  padding: 1%;
  color: #ffffff;
}

.footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.footer ul li {
  padding-bottom: 4%;
}

.footer ul li a {
  color: #ccc;
}

.icon-instagram {
  width: 35px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
}

.icon-instagram:hover {
  width: 40px;
}

.input-title{
  font-size: 4.2rem;
  padding-bottom: 50px;
}

.input-subtitle {
  font-size: 13px;
  color: #fff;
  font-weight: 100;
}

.input-mail {
  
  list-style-type: none;
  border: 0px;
  border-radius: 4px;
  color: #000;
  font-family: Arial,Arial, Helvetica, sans-serif;
  background-color: #ccc;
  padding:15px 70px 15px 70px;
  font-size: 15px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  transition-delay: 0.5ms;
}

.input-mail.animate{
  opacity: 1;
}

.bottone-mail{
  padding:10px 15px 10px 10px;
  background: transparent;
  cursor: pointer;
  border:none;
  border-radius: 3px;
  transition:0.3s all;
  margin-top:15px;
}

.bottone-mail:hover{
  background-color: #ddd;
  color:#000;
}

.cov-prot{
  text-align: center;
  padding: 10px;
  margin: 0px;
  min-height: 960px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9998;
  position: relative;
}


iframe{
  width: 100%;
  min-height: 600px;
}
.spacer{
  height: 100px;
}

@media (max-width:500px) {
  .input-title {
    font-size: 8vw;
    line-height: 1.2;

  }

  .input-subtitle {
    font-size: 16px;
    color: #fff;
  }

  .mt-5{
    margin-top:0px;
  }

  .mt-1{
    margin-top:50px;
  }

}


@media (max-width:350px){
  .input-mail{
    padding: 15px 10px 15px 10px;
  }

  .about{
    font-size:2.5rem;
  }

  .about-sub{
    font-size:1.4rem;
  }
  
  .about-par{
    font-size:1rem;
  }

}

.grid2{
  margin: 0 auto;
  padding: 100px 15px 100px 15px;
  max-width: 1250px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.grid2--center {
  justify-content: center;
}

.col {
  flex: 1;
}

[class*='col-'] {
  position: relative;
  padding: 0 15px;
}

.grid2 .grid2 [class*='col-'] {
  padding: 0px;
}

.special-cov2{
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.special-cov2.animate {
  opacity: 1;
}


